In [1]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
import numpy as np
import pandas as pd
import pickle

In [4]:
df = pd.read_csv("datasets/main_data.csv")
df.head()

,id,id_peserta,dati2,typefaskes,usia,jenkel,pisat,tgldatang,tglpulang,jenispel,...,biaya,jenispulang,cbg,kelasrawat,kdsa,kdsp,kdsr,kdsi,kdsd,label
0,165666,486,17,KL,48,P,1.0,2018-07-25T17:00:00.000Z,2018-07-25T17:00:00.000Z,2,...,184300.0,1.0,Q-5-42-0,3,None,None,None,None,None,0
1,1010828,520,17,A,63,L,1.0,2019-05-27T17:00:00.000Z,2019-05-30T17:00:00.000Z,1,...,10628400.0,1.0,D-4-13-III,1,None,None,None,None,None,0
2,166042,523,17,KL,53,P,1.0,2019-07-16T17:00:00.000Z,2019-07-16T17:00:00.000Z,2,...,187300.0,1.0,Q-5-44-0,3,None,None,None,None,None,0
3,168937,549,17,KL,54,P,1.0,2019-10-17T17:00:00.000Z,2019-10-17T17:00:00.000Z,2,...,187300.0,1.0,Q-5-44-0,3,None,None,None,None,None,0
4,1005899,549,17,A,53,P,1.0,2018-04-18T17:00:00.000Z,2018-04-18T17:00:00.000Z,2,...,381600.0,1.0,Q-5-44-0,3,None,None,None,None,None,0

In [5]:
df = df.drop(columns=['id', 'id_peserta', 'tgldatang', 'tglpulang', 'kdsa', 'kdsp', 'kdsr', 'kdsi', 'kdsd'] )
df.head()

,dati2,typefaskes,usia,jenkel,pisat,jenispel,politujuan,diagfktp,biaya,jenispulang,cbg,kelasrawat,label
0,17,KL,48,P,1.0,2,THT,L02.8,184300.0,1.0,Q-5-42-0,3,0
1,17,A,63,L,1.0,1,NaN,R23.1,10628400.0,1.0,D-4-13-III,1,0
2,17,KL,53,P,1.0,2,INT,E10.5,187300.0,1.0,Q-5-44-0,3,0
3,17,KL,54,P,1.0,2,MAT,H54.2,187300.0,1.0,Q-5-44-0,3,0
4,17,A,53,P,1.0,2,SAR,M54.5,381600.0,1.0,Q-5-44-0,3,0